os: Visual Studio 2017
platform: x64

install:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - cinst elixir
  - ps: |
      $Version="5.1.7"
      $BaseUrl="https://www.foundationdb.org/downloads/${Version}"
      Invoke-WebRequest "${BaseUrl}/windows/installers/foundationdb-${Version}-x64.msi" -OutFile "foundationdb-${Version}-x64.msi"
      Write-Host "Installing foundationdb-${Version}-x64.msi"
      msiexec /i "foundationdb-${Version}-x64.msi" /quiet /passive /norestart /log install.log | Out-Null
  - SET PATH=C:\ProgramData\chocolatey\lib\Elixir\bin;C:\Program Files\foundationdb\bin;%PATH%

build_script:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  - mix compile --force --warnings-as-errors

test_script:
  - mix test --trace --include integration
